@model FinanceManager.Web.Models.PeriodSummaryViewModel
@using FinanceManager.BL
@{
    ViewBag.Title = "Home Page";
}

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Load our React component. -->
<script src="like_button.js"></script>

<div>
    <section class="">
        <div>
            <div class="col-xs-12 text-center">
                <div>
                    <h1>@(Model.PeriodTitle) Summary</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Incomes</h2>
                    <span>@Model.PeriodBeginningPeriodIncomesAmount</span>
                    <span>@Model.PeriodIncomesDifference</span>
                    <span>@Model.CurrentPeriodIncomesAmount</span>
                </div>
                <div class="col">
                    <h2>Expenses</h2>
                    <span>@Model.PeriodBeginningPeriodExpensesAmount</span>
                    <span>@Model.PeriodExpensesDifference</span>
                    <span>@Model.CurrentPeriodExpensesAmount</span>
                </div>
                <div class="col">
                    <h2>Period Balance</h2>
                    <span>@Model.PeriodBeginningPeriodBalance</span>
                    <span>@Model.PeriodBalanceDifference</span>
                    <span>@Model.CurrentPeriodBalance</span>
                </div>
                <div class="col">
                    <h2>Total Balance</h2>
                    <span>@Model.PeriodBeginningTotalBalance</span>
                    <span>@Model.TotalBalanceDifference</span>
                    <span>@Model.CurrentTotalBalance</span>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-sm">@Model.OperationsModel.NameLabel</div>
                <div class="col-sm">@Model.OperationsModel.TotalAmonutLabel</div>
                <div class="col-sm">@Model.OperationsModel.FinishDateLabel</div>
                <div class="col-sm">@Model.OperationsModel.PaymentLeftLabel</div>
                <div class="col-sm">@Model.OperationsModel.AlreadyPayedLabel</div>
                <div class="col-sm">@Model.OperationsModel.CurrentPeriodEndAmountLabel</div>
                <div class="col-sm">@Model.OperationsModel.CurrentPeriodBudgetedAmountLabel</div>
                <div class="col-sm">@Model.OperationsModel.CurrentPeriodPayedAmountLabel</div>
                <div class="col-sm">@Model.OperationsModel.CurrentPeriodPaymentLeftLabel</div>
            </div>
            @foreach (FinanceManager.Web.Models.MoneyOperationViewModel periodOperation in Model.OperationsModel.PeriodOperations)
            {
                <div class="row">
                    <div class="col-sm">@periodOperation.Name</div>
                    <div class="col-sm">@periodOperation.InitialAmount</div>
                    <div class="col-sm">@periodOperation.FinishDate</div>
                    <div class="col-sm">@periodOperation.CurrentAmount</div>
                    <div class="col-sm">@periodOperation.AlreadyPayedAmount</div>
                    <div class="col-sm">@periodOperation.CurrentPeriodEndAmount</div>
                    <div class="col-sm">@periodOperation.CurrentPeriodBudgetedAmount</div>
                    <div class="col-sm">@periodOperation.CurrentPeriodPayedAmount</div>
                    <div class="col-sm">@periodOperation.CurrentPeriodPaymentLeft</div>
                </div>
            }
        </div>
    </section>



    @using (Html.BeginForm("AddExpense", "HomeController", Model.NewMoneyOperation))
    {
        <section class="row">
            @Html.LabelFor(m => m.NewMoneyOperation.Name)
            @Html.TextBoxFor(m => m.NewMoneyOperation.Name)
            @Html.LabelFor(m => m.NewMoneyOperation.Description)
            @Html.TextBoxFor(m => m.NewMoneyOperation.Description)
            @Html.LabelFor(m => m.NewMoneyOperation.InitialAmount)
            @Html.TextBoxFor(m => m.NewMoneyOperation.InitialAmount)
            @Html.LabelFor(m => m.NewMoneyOperation.RepetitionUnitQuantity)
            @Html.TextBoxFor(m => m.NewMoneyOperation.RepetitionUnitQuantity)
            @Html.LabelFor(m => m.NewMoneyOperation.IsReal)
            @Html.CheckBoxFor(m => m.NewMoneyOperation.IsReal)
            @Html.HiddenFor(m => m.NewMoneyOperation.AccountID)
            <button type="submit">SUBMIT</button>
        </section>
    }
</div>