@model FinanceManager.Web.Models.PeriodSummaryViewModel
@using FinanceManager.BL
@{
    ViewBag.Title = "Home Page";
}
<div>
    <section class="row">
        <div>
            <div class="col-xs-12 text-center">
                <div>
                    <h1>@(Model.PeriodTitle) Summary</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="row text-center">
        <div class="col-xs-2">
            <h2>Incomes</h2>
            <span>@Model.PeriodBeginningPeriodIncomesAmount</span>
            <span>@Model.PeriodIncomesDifference</span>
            <span>@Model.CurrentPeriodIncomesAmount</span>
        </div>
        <div class="col-xs-2">
            <h2>Expenses</h2>
            <span>@Model.PeriodBeginningPeriodExpensesAmount</span>
            <span>@Model.PeriodExpensesDifference</span>
            <span>@Model.CurrentPeriodExpensesAmount</span>
        </div>
        <div class="col-xs-3">
            <h2>Period Balance</h2>
            <span>@Model.PeriodBeginningPeriodBalance</span>
            <span>@Model.PeriodBalanceDifference</span>
            <span>@Model.CurrentPeriodBalance</span>
        </div>
        <div class="col-xs-5">
            <h2>Total Balance</h2>
            <span>@Model.PeriodBeginningTotalBalance</span>
            <span>@Model.TotalBalanceDifference</span>
            <span>@Model.CurrentTotalBalance</span>
        </div>
    </section>

    <section class="row text-center">
        <div class="col-xs-12" style="padding-top: 20px;">
            <table style="width: 100%; border:thick;" class="table table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">@Model.OperationsModel.NameLabel</th>
                        <th class="text-center">@Model.OperationsModel.TotalAmonutLabel</th>
                        <th class="text-center">@Model.OperationsModel.FinishDateLabel</th>
                        <th class="text-center">@Model.OperationsModel.PaymentLeftLabel</th>
                        <th class="text-center">@Model.OperationsModel.AlreadyPayedLabel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FinanceManager.Web.Models.MonthOperationViewModel monthOperation in Model.OperationsModel.MonthOperations)
                    {
                        <tr>
                            <td>@monthOperation.Name</td>
                            <td>@monthOperation.TotalAmount</td>
                            <td>@monthOperation.FinishDate</td>
                            <td>@monthOperation.PaymentLeftAmount</td>
                            <td>@monthOperation.AlreadyPayedAmount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    @using (Html.BeginForm("AddExpense", "HomeController", Model.NewMoneyOperation))
    {
        <section class="row">
            @Html.LabelFor(m => m.NewMoneyOperation.Name)
            @Html.TextBoxFor(m => m.NewMoneyOperation.Name)
            @Html.LabelFor(m => m.NewMoneyOperation.Description)
            @Html.TextBoxFor(m => m.NewMoneyOperation.Description)
            @Html.LabelFor(m => m.NewMoneyOperation.InitialAmount)
            @Html.TextBoxFor(m => m.NewMoneyOperation.InitialAmount)
            @Html.LabelFor(m => m.NewMoneyOperation.RepetitionUnitQuantity)
            @Html.TextBoxFor(m => m.NewMoneyOperation.RepetitionUnitQuantity)
            @Html.LabelFor(m => m.NewMoneyOperation.IsReal)
            @Html.CheckBoxFor(m => m.NewMoneyOperation.IsReal)
            @Html.HiddenFor(m => m.NewMoneyOperation.AccountID)
            <button type="submit">SUBMIT</button>
        </section>
    }
</div>